body {
  font-family: sans-serif;
  /* justify-content: center; */
  line-height: 1.5;
}
nav {
  position: sticky;
  justify-content: center;
  top: 100;
  z-index: 1;
  width: 100%;
  border-radius: 10px;
  background-color: aqua;
}
.scroll-area {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.post {
  width: 250px !important;
  height: 350px !important;
  border-radius: 10px;
  /* line-height: 2px solid black; */
  /* margin: auto; */
  /* margin-bottom: 10px; */
  -webkit-filter: brightness(40%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.post:hover {
  cursor: pointer;
  -webkit-filter: brightness(100%);
}

.loader {
  border: 5px solid #777;
  border-top: 5px solod #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 10px;
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}
.result-box {
  background-color: lightgrey;
}
